body {
    --content-padding: clamp(3rem, 6rem, 8rem);
}

/* Header */
header {
    padding: 1.25rem var(--content-padding);
    background: var(--color-midnight);
    
    display: flex;
    align-items: center;
    gap: 1rem;
}

/* Styles the logo */
#logo {
    --size: 100px;
    aspect-ratio: 1 / 1;
    width: var(--size);
    height: var(--size);
}

/* Styles for the title of the page */
#title {
    color: snow;
    font-family: 'Radley';
    font-weight: bolder;
    
    i {
        color: var(--color-blue);
    }
}

/* The design for mobile devices */
@media screen and (min-width: 1200px) {
    br {
        display: none;
    }
    
    header {
        gap: 2rem;
    }
    
    #title {
        font-size: 2.25rem;
    }
}

/* Navigation */
.nav-panel {
    margin-left: auto;
    width: max-content;
}

.nav-list {
    --border-radius: 10px;
    list-style-type: none;
    border-radius: var(--border-radius);
    
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

/* Styles the links per item */
.nav-item {
    padding: 1rem;
    border-radius: var(--border-radius);
    
    /* Styles for the current page */
    &.current {
        background-color: var(--color-blue);
    }
    
    /* Styles in hover */
    &:hover .nav-link {
        text-decoration: underline;
        color: var(--color-font-dark);
    }
    
    /* Styles nav item excluding the current one */
    &:not(.nav-item.current):hover, &:active {
        background-color: color-mix(in srgb, var(--color-blue) 50%, rgba(255, 255, 255, 0.75) 50%);
    }
}

/* Styles the navigation link */
.nav-link {
    font-size: min(30px, 1.5rem);
    font-weight: bolder;
    color: var(--color-font-light);
}

/* Content Design */
.featured {
    height: max(50vh, 40rem);
    background: url(../Assets/LibraryBG.jpeg) center;
    background-size: cover;
    padding: 4rem clamp(4rem, 6vw, 10%);
    color: var(--color-font-light);
    
    /* Flex styles */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;

    h1 {
        font-size: max(4rem, 4vh);
    }

    article {
        width: 30%;
        border-radius: 15px;

        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    a {
        margin-top: 2rem;
        padding: 1rem 2rem;
        border-radius: 10px;
        font-weight: bolder;
        background: var(--color-blue);
        color: var(--color-font-dark);
    }

    p {
        font-size: large;
    }
}