/* Header */
header {
    padding: 1.25rem 4rem;
    background: var(--color-midnight);

    display: flex;
    align-items: center;
    gap: 1rem;
}

#logo {
    --size: 100px;
    aspect-ratio: 1 / 1;
    width: var(--size);
    height: var(--size);
}

#title {
    font-size: 2rem;
    color: snow;
    font-family: 'Radley';
    font-weight: bolder;

    i {
        color: lightgreen;
    }
}

/* Navigation */
.nav-panel {
    margin-left: auto;
}

.nav-list {
    --border-radius: 10px;
    list-style-type: none;
    border-radius: var(--border-radius);

    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.nav-item {
    padding: 1rem;
    border-radius: var(--border-radius);

    &.current {
        background-color: color-mix(in srgb, var(--color-violet) 80%, #fff 20%);
    }

    &:not(.nav-item.current):hover, &:active {
        background-color: color-mix(in srgb, var(--color-azure) 80%, #fff 20%);

        .nav-link {
            text-decoration: underline;
            color: var(--color-font-dark);
        }
    }
}

.nav-link {
    font-size: larger;
    color: var(--color-font-light);
    text-decoration: transparent;
}