/* Header */
body {
    --content-padding: clamp(3rem, 6rem, 8rem);
}

header {
    padding: 1.25rem var(--content-padding);
    background: var(--color-midnight);
    
    display: flex;
    align-items: center;
    gap: 1rem;
}

#logo {
    --size: 100px;
    aspect-ratio: 1 / 1;
    width: var(--size);
    height: var(--size);
}

#title {
    color: snow;
    font-family: 'Radley';
    font-weight: bolder;
    
    i {
        color: var(--color-blue);
    }
}

@media screen and (min-width: 1200px) {
    br {
        display: none;
    }
    
    header {
        gap: 2rem;
    }
    
    #title {
        font-size: 2.25rem;
    }
}

/* Navigation */
.nav-panel {
    margin-left: auto;
    width: max-content;
}

.nav-list {
    --border-radius: 10px;
    list-style-type: none;
    border-radius: var(--border-radius);
    
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.nav-item {
    padding: 1rem;
    border-radius: var(--border-radius);
    
    &.current {
        background-color: var(--color-blue);
    }
    
    &:hover .nav-link {
        text-decoration: underline;
        color: var(--color-font-dark);
    }
    
    &:not(.nav-item.current):hover, &:active {
        background-color: color-mix(in srgb, var(--color-blue) 50%, rgba(255, 255, 255, 0.75) 50%);
    }
}

.nav-link {
    font-size: min(30px, 1.5rem);
    font-weight: bolder;
    color: var(--color-font-light);
}

/* Content Design */
.featured {
    /* Photo by mnm.all on Unsplash */
    background: url('https://images.unsplash.com/photo-1518176258769-f227c798150e') center;
    background-size: cover;
    padding: 4rem 2rem;
    
    /* Grid styles */
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

a:hover {
    opacity: 0.6s;
}