header {
    padding-top: 2rem;
    height: clamp(250px, 15rem, 25%);
    background: var(--color-midnight);
    color: var(--color-font-light);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#logo {
    --size: clamp(125px, 8rem , 40%);
    width: var(--size);
    aspect-ratio: 1 / 1;
}

#title {
    font-size: 2rem;
    color: snow;
    font-family: 'Radley';
    font-weight: bolder;
    text-align: center;

    i {
        color: var(--color-blue);
    }
}

.nav-panel {
    width: max-content;
}

.nav-list {
    padding-inline: 1rem;
    list-style-type: none;
    background: var(--color-darkblue);

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row;
    overflow-x: auto;
    gap: 0.25rem;
}

.nav-item {
    padding: 1rem 0.5rem;

    &.current {
        background-color: var(--color-blue);
    }
    
    &:hover .nav-link {
        text-decoration: underline;
        color: var(--color-font-dark);
    }
    
    &:not(.nav-item.current):hover, &:active {
        background-color: color-mix(in srgb, var(--color-blue) 50%, rgba(255, 255, 255, 0.75) 50%);
    }
}

.nav-link {
    font-size: larger;
    font-weight: bolder;
    color: var(--color-font-light);
    text-decoration: transparent;
}