/* Load the Necessary FONTS (Merriweather, Open Sans, Radley, Recursive) */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Radley:ital@0;1&family=Recursive:wght@300..1000&display=swap');

/* Initialize the variables used 
For easier dark and light mode */
:root {
    /* Variables */
    --color-blue-zero: #fff;
    --color-blue-first: #070D59;
    --color-blue-second: #1f3c88;
    --color-blue-third: #84fbffce;
    --color-blue-fourth: #ceddef;
    
    --color-purple-first: #000278;
    --color-purple-second: #192294;
    --color-purple-third: #5254d8;
    --color-purple-fourth: #b7b9f4;

    --color-font-dark: #152229;
    --color-font-light: #e4fbff;

    --color-link-dark: #000231;
    --color-link-light: #fffdd0;
    --color-link-dark-hover: #24ad68;
    --color-link-light-hover: #a3fde2;
    --color-link-disabled: #777;
    
    --color-base-red: #af3a3a;
    --color-base-red-content: #f0d4d4;
    --color-base-green: #44be9a;
    --color-base-green-content: #d4f0e2;
    --color-base-blue: #4174b8;
    --color-base-blue-content: #c9d7eb;
    
    --transition-500: all 500ms ease-in-out;
    --transition-400: all 400ms ease-in-out;
    --transition-300: all 300ms ease-in-out;
    --transition-200: all 200ms ease-in-out;
    --transition-100: all 100ms ease-in-out;
    
    color-scheme: only light;
    color: var(--color-font-dark);
    font-size: 16px;
    font-family: 'Recursive', 'Open Sans', 'Garamond', 'Segoe UI', -apple-system, system-ui, sans-serif;
}

/* Box sizing rules */
*, *::before, *::after {
    box-sizing: border-box;
}

/* Removes the margin and to reset the font */
* {
    margin: 0;
    padding: 0;
}

/* To make scrolling smooth */
html:focus-within {
    scroll-behavior: smooth;
}

/* To optimize the speed and set default */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.25;
}

/* Change the Headings */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', 'Georgia', -apple-system, system-ui, serif;
    line-height: 1.75;
}

/* Avoid text overflow */
p, h1, h2, h3, h4, h5, h6, span {
    overflow-wrap: break-word;
    text-wrap: pretty;
}

/* To add media defaults */
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

/* Set the typography to inherit */
input, button, textarea, select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }
    
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}