/* Load the Necessary FONTS (Merriweather, Open Sans, Radley, Recursive) */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Radley:ital@0;1&family=Recursive:wght@300..1000&display=swap');

/* Initialize the variables used 
For easier dark and light mode */
:root {
    /* Variables */
    --color-abyss: #100736;
    --color-midnight: #071b36;
    --color-darkblue: #16295e;
    --color-blue: #87cefa;
    --color-violet: #c4aef8;
    --color-lightblue: #cee3ef;
    --color-azure: #f0ffff;

    --color-font-dark: #152229;
    --color-font-light: #e4fbff;
    
    --color-base-red: #e45252;
    --color-base-green: #52e4b8;
    --color-base-blue: #526de4;
    
    --transition-500: all 500ms ease-in-out;
    --transition-400: all 400ms ease-in-out;
    --transition-300: all 300ms ease-in-out;
    --transition-200: all 200ms ease-in-out;
    --transition-100: all 100ms ease-in-out;
    
    color-scheme: only light;
    color: var(--color-font-dark);
    font-size: 16px;
    font-family: 'Recursive', 'Open Sans', 'Garamond', 'Segoe UI', -apple-system, system-ui, sans-serif;
}

/* Box sizing rules */
*, *::before, *::after {
    box-sizing: border-box;
}

/* Removes the margin and to reset the font */
* {
    margin: 0;
    padding: 0;
}

/* To make scrolling smooth */
html:focus-within {
    scroll-behavior: smooth;
}

/* To optimize the speed and set default */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.25;
}

/* Change the Headings */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', 'Georgia', -apple-system, system-ui, serif;
    line-height: 1.75;
}

/* Avoid text overflow */
p, h1, h2, h3, h4, h5, h6, span {
    overflow-wrap: break-word;
    text-wrap: pretty;
}

/* To add media defaults */
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

/* Set the typography to inherit */
input, button, textarea, select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }
    
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* 
.reference {
    scale: 0 1;
    transform-origin: left;

    animation: scroll-watcher linear;
    animation-timeline: scroll()/view();
    animation-range: x y;
}
*/

/* Animations For Web !DO NOT REMOVE */
@keyframes scroll-watcher {
    to {
        scale: 1 1;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
        scale: 0.8;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}

/* Button Top */
#top-button {
    position: fixed;
    bottom: 30px;
    right: 30px;
    padding: 0.5rem;
    font-size: 1.5em;
    border-radius: 50%;
    border: none;
    background: var(--color-darkblue);
    color: var(--color-font-light);

    display: flex;
    align-items: center;
}

img#logo {
    background: white;
    border-radius: 50%;
}