/* Add Design Here */
/* Misc */
a {
    color: var(--color-font-dark);
    transition: var(--transition-all);
}

a:hover {
    text-decoration: underline;
}

/* Header Design */
header {
    --margin-size: 4em;
    height: 6rem;
    background-color: var(--color-abyss);
    
    display: flex;
    flex-direction: row;
    align-items: center;
}

#title {
    margin-inline: var(--margin-size) auto;
    font-size: 2rem;
    font-weight: bolder;
    font-family: 'Radley';
    color: var(--color-font-light);
}

.page-list {
    margin-inline: auto var(--margin-size);
    list-style-type: none;
    display: flex;
    flex-direction: row;
    font-size: larger;
    gap: 0.25rem;
}

.page {
    padding: 1rem;
    border-radius: 15px;
}

.page-link {
    color: var(--color-font-light);
    text-decoration: transparent;
}

.page.current {
    background-color: color-mix(in srgb, var(--color-violet) 80%, #fff 20%);
}

.page:not(.page.current):hover {
    background-color: color-mix(in srgb, var(--color-azure) 80%, #fff 20%);
    
    .page-link {
        color: var(--color-font-dark);
    }
}

/* Content Design */
body {
    background-color: beige;
}

/* Footer Design */
footer {
    padding: 1rem;
    height: max-content;
    min-width: 100vh;
    max-width: 100%;
    background-color: var(--color-violet);
    /* color: var(--color-tertiary); */
    
    display: flex;
    flex-flow: row wrap;
}

footer > .notes {
    flex: 2;
}

footer > :not(.notes) {
    flex: 1;
}

.block {
    padding: 0.5rem 2rem;
    
    & > .title {
        font-family: 'Radley';
        font-weight: 900;
        font-size: 1.5em;
    }
    
    & > .content {
        margin-left: 1rem;
        font-style: italic;
    }
}
#background{
    --size:50rem;
    height: var(--size);
    width: 100%;
}
