/* Initialize the variables used 
   For easier dark and light mode */
:root {
    /* Variables */
    --primary-dark-color: #212333;
    --secondary-dark-color: #3d3d47;
    --tertiary-dark-color: #446d64;
    --font-dark: #f0fff0;
    
    --primary-light-color: #383ab6;
    --secondary-light-color: #e8ece8;
    --tertiary-light-color: #76aadf;
    --font-light: #152924;
    
    --base-red-color: #ce4444;
    --base-blue-color: #4174b8;
    --base-yellow-color: #cea41a;
    
    --transition: all 300ms ease-in-out;
    
    color-scheme: only light;
    font-size: 16px;
    font-family: 'Recursive', 'Open Sans', 'Garamond', 'Segoe UI', -apple-system, system-ui, sans-serif;
}

/* Change the Headings */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', 'Georgia', -apple-system, system-ui, serif;
}

/* Box sizing rules */
*, *::before, *::after {
    box-sizing: border-box;
}

/* Removes the margin */
* {
    margin: 0;
}

/* To make scrolling smooth */
html:focus-within {
    scroll-behavior: smooth;
}

/* To optimize the speed and set default */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* To improve media defaults */
img, picture, video, canvas, svg {
    font-style: italic;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Set the font to inherit */
input, button, textarea, select {
    font: inherit;
}

/* Avoid text overflow */
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }
    
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}