/* Load the Necessary FONTS (Merriweather, Open Sans, Radley, Recursive) */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Radley:ital@0;1&family=Recursive:wght@300..1000&display=swap');

/* Initialize the variables used 
For easier dark and light mode */
:root {
    /* Variables */
    --color-base: #f7f7f9;
    --color-primary: #112D4E;
    --color-secondary: #769FCD;
    --color-tertiary: #DBE2EF;
    --color-base2: #E3FEF7;
    --color-primary2: #003C43;
    --color-secondary2: #135D66;
    --color-tertiary2: #77B0AA;

    --color-font-dark: #152924;
    --color-font-light: #f4feff;
    
    --color-base-red: #af3a3a;
    --color-base-red-content: #f0d4d4;
    --color-base-green: #44be9a;
    --color-base-green-content: #d4f0e2;
    --color-base-blue: #4174b8;
    --color-base-blue-content: #c9d7eb;
    --color-base-yellow: #c49923;
    --color-base-yellow-content: #ddd6bf;
    
    --transition-all: all 300ms ease-in-out;
    --transition-modifiers: 300ms ease-in-out;
    
    color-scheme: only light;
    color: var(--color-font-dark);
    font-size: 16px;
    font-family: 'Recursive', 'Open Sans', 'Garamond', 'Segoe UI', -apple-system, system-ui, sans-serif;
}

/* Box sizing rules */
*, *::before, *::after {
    box-sizing: border-box;
}

/* Removes the margin and to reset the font */
* {
    margin: 0;
    padding: 0;
}

/* To make scrolling smooth */
html:focus-within {
    scroll-behavior: smooth;
}

/* To optimize the speed and set default */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.25;
}

/* Change the Headings */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', 'Georgia', -apple-system, system-ui, serif;
    line-height: 1.75;
}

/* Avoid text overflow */
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    text-wrap: pretty;
}

/* To add media defaults */
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

/* Set the typography to inherit */
input, button, textarea, select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }
    
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}