.image1 {

    width : 100%;
    Height : 400px;
}

.image2 {

    margin-right :1537px;
    width:150px;
    height:150px;


}

.image3 {
    
    width:150px;
    height:150px;
    border-radius : 140px;

}

.P1 {
    Font-family : Microsoft sans serif;
    text-align : center;
    margin-left : 26%;
    margin-right :26%
}

.TAB1
{
    font-family : Microsoft Sans serif;
    font-size: 30px;
    background-color : rgb(173, 144, 79);
    border-color : rgb(173, 144, 79);
    border-width : 15px;
    border-radius : 10px;
    width : 70%;
    text-align : left;
    margin : 40px;

}

.ScieQ1M1 {
   
     Height : 250px;
    text-align : left;
    margin-right: 120px;
   
}

.ScieQ2M1 {
    Height : 250px;
    text-align : left;
    margin-right: 120px;
}

.ScieQ3M1 {
    Height : 250px;
    text-align : left;
    margin-right: 120px;
}

.TAB3
{
    font-family : Microsoft Sans serif;
    font-size: 30px;
    background-color : rgb(173, 144, 79);
    border-color : rgb(173, 144, 79);
    border-width : 15px;
    border-radius : 10px;
    width : 70%;
    text-align : left;
    margin : 40px;

}

.MthQ1M1 {

    Height : 250px;
    text-align : left;
    margin-right: 120px;
   
}


.mthQ2M1 {

    Height : 250px;
    text-align : left;
    margin-right: 120px;
   
}

.mthQ3M1 {

    Height : 250px;
    width : 180px;
    text-align : left;
    margin-right: 120px;
   
}

.TAB2
{
    font-family : Microsoft Sans serif;
    font-size: 30px;
    background-color : rgb(173, 144, 79);
    border-color : rgb(173, 144, 79);
    border-width : 15px;
    border-radius : 10px;
    width : 70%;
    text-align : left;
    margin : 40px;

}

.EmpQ1M1 {

    Height : 250px;
    text-align : left;
    margin-right: 120px;
   
}

.EmpQ2M1 {

    Height : 250px;
    text-align : left;
    margin-right: 120px;
   
}

.EmpQ3M1 {

    Height : 250px;
    text-align : left;
    margin-right: 120px;
   
}

.TAB4
{
    font-family : Microsoft Sans serif;
    font-size: 30px;
    background-color : rgb(173, 144, 79);
    border-color : rgb(173, 144, 79);
    border-width : 15px;
    border-radius : 10px;
    width : 70%;
    text-align : left;
    margin : 40px;

}

.KPWPQ1M1 {

    Height : 250px;
    text-align : left;
    margin-right: 120px;
   
}

.KPWPQ2M1 {

    Height : 250px;
    text-align : left;
    margin-right: 120px;
   
}

.TAB5
{
    font-family : Microsoft Sans serif;
    font-size: 30px;
    background-color : rgb(173, 144, 79);
    border-color : rgb(173, 144, 79);
    border-width : 15px;
    border-radius : 10px;
    width : 70%;
    text-align : left;
    margin : 40px;

}

.PR1Q3M1 {

    Height : 250px;
    text-align : left;
    margin-right: 120px;
   
}

.PR1Q4M1 {

    Height : 250px;
    text-align : left;
    margin-right: 120px;
   
}

.TAB6
{
    font-family : Microsoft Sans serif;
    font-size: 30px;
    background-color : rgb(173, 144, 79);
    border-color : rgb(173, 144, 79);
    border-width : 15px;
    border-radius : 10px;
    width : 70%;
    text-align : left;
    margin : 40px;

}

.PilQ1M1 {

    Height : 250px;
    text-align : left;
    margin-right: 120px;
   
}

.PilQ2M1 {

    Height : 250px;
    text-align : left;
    margin-right: 120px;
   
}

.TAB7
{
    font-family : Microsoft Sans serif;
    font-size: 30px;
    background-color : rgb(173, 144, 79);
    border-color : rgb(173, 144, 79);
    border-width : 15px;
    border-radius : 10px;
    width : 70%;
    text-align : left;
    margin : 40px;

}

.PsQ3M1 {

    Height : 250px;
    text-align : left;
    margin-right: 120px;
   
}

.PspQ4M1{

    Height : 250px;
    text-align : left;
    margin-right: 120px;
   
}

.TAB8
{
    font-family : Microsoft Sans serif;
    font-size: 30px;
    background-color : rgb(173, 144, 79);
    border-color : rgb(173, 144, 79);
    border-width : 15px;
    border-radius : 10px;
    width : 70%;
    text-align : left;
    margin : 40px;

}

.oralQ1M1 {

    Height : 250px;
    text-align : left;
    margin-right: 120px;
   
}

.oralQ2M1{

    Height : 250px;
    text-align : left;
    margin-right: 120px;
   
}

.TAB9
{
    font-family : Microsoft Sans serif;
    font-size: 30px;
    background-color : rgb(173, 144, 79);
    border-color : rgb(173, 144, 79);
    border-width : 15px;
    border-radius : 10px;
    width : 70%;
    text-align : left;
    margin : 40px;

}

.PDQ1M1 {

    Height : 250px;
    text-align : left;
    margin-right: 120px;
   
}

.PDQ2M1{

    Height : 250px;
    text-align : left;
    margin-right: 120px;
   
}

.TAB10
{
    font-family : Microsoft Sans serif;
    font-size: 30px;
    background-color : rgb(173, 144, 79);
    border-color : rgb(173, 144, 79);
    border-width : 15px;
    border-radius : 10px;
    width : 70%;
    text-align : left;
    margin : 40px;

}

.PHQ1-2M1 {

    Height : 250px;
    text-align : left;
    margin-right: 120px;
   
}

.PHQ3M1{

    Height : 250px;
    text-align : left;
    margin-right: 120px;
   
}

.TAB11 {
    font-family : Microsoft Sans serif;
    font-size: 30px;
    background-color : rgb(173, 144, 79);
    border-color : rgb(173, 144, 79);
    border-width : 15px;
    border-radius : 10px;
    width : 70%;
    text-align : left;
    margin : 40px;

}

.RWSQ3M1 {

    Height : 250px;
    text-align : left;
    margin-right: 120px;
   
}

.RWSQ4M1{

    Height : 250px;
    text-align : left;
    margin-right: 120px;
   
}

.TAB12 {
    font-family : Microsoft Sans serif;
    font-size: 30px;
    background-color : rgb(173, 144, 79);
    border-color : rgb(173, 144, 79);
    border-width : 15px;
    border-radius : 10px;
    width : 70%;
    text-align : left;
    margin : 40px;

}

.stQ1M1 {

    Height : 250px;
    text-align : left;
    margin-right: 120px;
   
}

.stQ2M1{

    Height : 250px;
    text-align : left;
    margin-right: 120px;
   
}

.TAB13 {
    font-family : Microsoft Sans serif;
    font-size: 30px;
    background-color : rgb(173, 144, 79);
    border-color : rgb(173, 144, 79);
    border-width : 15px;
    border-radius : 10px;
    width : 70%;
    text-align : left;
    margin : 40px;

}

.EntrepQ1M1 {

    Height : 250px;
    text-align : left;
    margin-right: 120px;
   
}

.EntrepQ2M1{

    Height : 250px;
    text-align : left;
    margin-right: 120px;
   
}